#InventoryMetricsCircle
/* {paddingTop:'20px',paddingBottom:'20px',fontSize:'18px',fontFamily:'SF UI Text Bold'} */
{
    text-align:center;
    display:block;
    border-radius:60px;
    float:none;
    padding:0px;padding-top:18px;
    padding-bottom:18px;
    width:54px;
    background:#DEE3EF;
    height:18px;
    margin:0px;
    margin-left: calc(50% - 50px);
    margin-top: -27px;
    font-size:18px;
    font-family:SF UI Text Bold;
    position: relative;
    z-index: 1;
}


#InventoryMetricsBottomDiv
{
    display:'inline-block';
    padding:0px;
    margin:0px;
    margin-top:-27px;
    height:20%;
    width:100%;
    background:#FAFBFC;
    position: relative;
}

/*--------------------------------------------------owais css start-----------------------------------------------------------------*/
.dashboard-img-modal-main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.InventoryMetricsText1 {
    font-family:SF UI TEXT Bold ;
    font-size:12px ;
    color: rgba(0,0,0,0.6);
    text-align: center;
    padding: 5px;
    padding-top: 2px;
}


.InventoryMetricsData{
    padding-left: 5%;
    float: right;
    width: 45%;
    margin-top: 5%;
    /*paddingLeft:'5%',float:'right',width:'45%' , marginTop:'7%'*/

}

.inventoryMetrics-main-div-percent-white{
    height: calc(100%);
    background: #FFFFFF;
    filter: blur(1px);
    -webkit-filter: blur(4px);
    width:100% ;
}


@media (max-width: 1090px) and (min-width: 800px){
    .InventoryMetricsText1 {
        font-size: 10px;
    }
}

@media (max-width: 414px) {
    .InventoryMetricsData {
        margin-right: 10px;
        padding-left: 5%;
        float: right;
        width: 45%;
        margin-top: 5%;
    }
}

@media (max-width: 375px) {
    .InventoryMetricsData {
        margin-top: 1%;
    }
}

@media (max-width: 360px) {
    .InventoryMetricsData {
        margin-right: 10px;
        padding-left: 5%;
        float: right;
        width: 45%;
        margin-top: -3%;
    }
}
@media (max-width: 320px){
.InventoryMetricsData {
    margin-right: 10px;
    padding-left: 5%;
    float: right;
    width: 45%;
    margin-top: -3%;
}
}

/*@media (max-height: 770px) {*/

/*    .inventoryMetrics-main-div-percent-white{*/
/*        !*height: 45vh;*!*/
/*        min-height: 310px;*/
/*        padding-bottom: 15px;*/
/*    }*/
/*    #ListViewLrcDiv{*/
/*        margin-top: 18% !important;*/
/*    }*/

/*    }*/
/*fontFamily:'SF UI TEXT Bold',fontSize: '12px',color:'rgba(0,0,0,0.6)',textAlign:'center',padding:'5px',paddingTop:'2px'*/

/*--------------------------------------------------owais css end-----------------------------------------------------------------*/